{% extends 'base.html.twig' %}

{% block title %}CharacterSheet index{% endblock %}

{% block body %}
    <h1>CharacterSheet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PageNumber</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character_sheet in character_sheets %}
            <tr>
                <td>{{ character_sheet.id }}</td>
                <td>{{ character_sheet.pageNumber }}</td>
                <td>{{ character_sheet.createdAt ? character_sheet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ character_sheet.updatedAt ? character_sheet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_character_sheet_show', {'id': character_sheet.id}) }}">show</a>
                    <a href="{{ path('app_character_sheet_edit', {'id': character_sheet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_sheet_new') }}">Create new</a>
{% endblock %}
